* {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #72DFD0;
    background-image: url(./img/fondomejorado.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; 
}

header {
    width: 98.7%;
    position: fixed;
    background-color: #03404d;
    display: flex;
    z-index: 1000;
    height: 4em;
}


.logo {
    padding: 10px 20px;
    width: 50%;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav,
a {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    text-align: center;
    align-content: center;
    padding: 10px;
    width: 50%;
    color: #FFFFFF;
    text-decoration: none;
}

a {
    margin: 10px;
}

section {
    padding-top: 4em;
    height: calc(100vh - 4em);
}

.Iconos {
    width: 1.3em;
}

.perfil {
    border-radius: 75px;
    border: 10px #03404d outset;
    width: 5em;
}

.Icohabi {
    width: 5em;
}

#home, .inforversatil{

    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.infoprincipal,
.fotoperfil,
.habiliadades {

    flex-grow: 1;
}

.infoprincipal,
.fotoperfil {
    align-content: center;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1em;
    width: 45%;
    height: 45%;
}

.habiliadades, .inforversatil {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    width: 100%;

}

.titulohabilidades,
.iconoshabilidades {

    flex-grow: 1;
    width: 100%;
}

.iconoshabilidades {

    margin: 0% 20% 0% 20%;
    display: flex;
    flex-wrap: wrap;
}

.fondoicono {

    border-radius: 25px;
    margin-right: 5px;
    padding: 2%;
    background-color: #A0F6D2;
    flex-grow: 1;
    border: 5px #03404d outset;
}

.titulohabilidades {
    align-content: end;
    font-size: 3em;
}


@media screen and (max-width:1080px ){
    body,
html {
    background-image: url(./img/fondomejoradocelular.jpeg);
    background-repeat: repeat-y;
    background-size: cover;
}
header{
    width: 100%;
}
.option{
    display: none;
}
#home {
    width: 100%;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;

}
.titulosdenombres {
    font-size: 65%;
}
.titulohabilidades{
    font-size:200%;
}
section {
    padding-top: 8em;
    height: calc(100vh - 8em);
}
.inforversatil{
    align-items: center;
    flex-direction: column-reverse;
        flex-wrap: nowrap;
    display: flex;
width: 100%;
}
.minombre {
    margin-bottom: -0.5em;
}

h3 {
    margin-top: -0.5em;
}
.fuentes{
    display: none;
}
.infoprincipal{
    width: 100%;
}
}
