* {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #72DFD0;
    background-color: #E6F8F6;
    width: 98.7vw;
    height: 100vh;
}

header {
    width: 100%;
    position: fixed;
    background-color: #03414D;
    display: flex;
}

.logo {
    padding: 10px 20px;
    width: 50%;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav,
a {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    text-align: center;
    align-content: center;
    padding: 10px;
    width: 50%;
    color: #FFFFFF;
    text-decoration: none;
}

a {
    margin: 10px;
}

section {
    padding-top: 4em;
}
.Iconos{
    
}
