* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100w;
    height: 100vh;
}

nav {
    height: 5%;
}

nav ul {

    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {

    font-size: 1.5em;
    display: inline-block;
    margin: 0 0 0 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav a:hover {
    color: aquamarine;
    text-decoration: underline;
}

header {
    background-image: url(./img/fondo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;

}

.nombres {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido {
    font-size: 1.5em;
    color: white;
    border-radius: 40em;
    background-color: rgba(0, 0, 0, 0.368);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 25%
}

main {
    height: 100vh;
}

.perfil {
    width: 35xp;
    height: 10px;
}

.info {
    height: 100vh;
}

.habilidades {
    height: 100vh;
}

@media screen and (max-width: 700px) {
    header {
        background-image: url(./img/fondo_celular.jpg);
    }
}

@media screen and (min-width: 700px) and (max-width:1200px) {
    header {
        background-image: url(./img/fondo_tablet.jpg);
    }
}

@media screen and (max-width: 2000px) {
    li {
        font-size: 1000em;
    }
}